<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SID</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <nav class="navBar">
        
        <a href="#/">
            <img src="../images/logoHuron.png" id="logo">
        </a> 
        <a href="/css/">Integrantes</a> 
        <a href="/js/">Animación</a> 
    </nav>

    <aside>

    </aside>

    <footer>
         
    </footer>

</body>
</html>